{% extends "wagtailadmin/base.html" %}
{% load i18n wagtailadmin_tags %}
{% block titletag %}{{ view.get_title }} {{ view.get_subtitle }}{% endblock %}

{% block content %}
{% include "wagtailadmin/shared/header.html" with title=view.get_title subtitle=view.get_subtitle icon="doc-empty-inverse" %}

<div class="nice-padding">

    <form method="POST" enctype="multipart/form-data" action="{% url 'bulk_translation_import:bulk_upload_pofile' %}">
        {% csrf_token %}
        <input type="file" name="file" multiple="multiple" accept=".po">
        <input style="margin: 50px 0 0" class="button button-secondary" type="submit" value="Upload files"/>
    </form>
</div>

{% endblock %}